body {
    margin: 0;
    padding: 0;
}

/* header start */

header {
    background-color: #121B2A;
    padding: 10px 0;
}

.wrapper {
    overflow: hidden;
    width: 80%;
    border: 1px solid white;
    margin: 0 auto;

}

.logo {
    width: 20%;
    float: left;

}

.logo a img {
    width: 100%;
}

.menu {
    width: 60%;
    float: right;
    margin-top: 30px;
}

.menu ul {
    float: right;
}

.menu ul li {
    list-style: none;
    float: left;
}

.menu ul li a {
    font-family: sans-serif;
    font-size: 16px;
    color: aliceblue;
    transition: .5s;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 20px;
    display: block;
}

.menu ul li:last-child a {
    padding: 0;
}

.menu ul li a:hover {
    color: #0077BC;
}

/* header end */

/* banner start */
.banner {
    background-image: url(./images/blue%20man.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner_text {
    width: 50%;
    margin-top: 200px;
    margin-bottom: 70px;
}

.banner_text h1 {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: white;
    margin: 0;
}

.banner_text h2 {
    font-family: sans-serif;
    font-size: 40px;
    color: #0077BC;
    margin: 0;
}

.banner_text p {
    font-family: sans-serif;
    font-size: 18px;
    color: white;
    margin: 5px 0 20px;
    line-height: 30px;
}

.banner_text button {
    font-size: 18px;
    color: #5A5A5A;
    border: none;
    padding: 15px 40px;
    text-transform: uppercase;
    background-color: white;

}

/* banner end */

/* service start */

.service {
    background-color: #121B2C;
    padding: 30px 0 10px;
}

.single {
    width: 30%;
    border-right: 1px solid white;
    padding: 10px 2.2% 10px 1%;
    float: left;
}

 .single:last-child {
    border-right: none; 
}

.top {
    overflow: hidden;
}

.icon {
    width: 25%;
    float: left;
}
.icon img{
    width: 100%;
}
.content {
    width: 60%;
    float: left;
    margin-top: 15px;
    margin-left: 5px;
}

.content h1 {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: white;
    margin: 0 0;
}

.content h2 {font-family: sans-serif;
    font-size: 25px;
    color: #0077BC;
    margin: 0 0;}

.bottom {}

.bottom p {
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    margin: 20px 0 20px;
    line-height: 20px;
}
/* service end */

/*section start*/
.contact{
	/*border:1px solid red;*/
	background-color: #040811;
	padding: 25px 0px 15px 0px;
}
.address{
	/*border:1px solid red;*/
	color:white;
	width: 32%;
	font-family: sans-serif;
	font-weight: 400;
	float: left;
	margin-right: 20px;

}
.address span{
	color:#1c6ab5;
}
.customer{
	color:white;
	float: left;
	width: 32%;
	font-family: sans-serif;
	font-weight: 400;
	position: relative;
}
.comment{
	/*border:1px solid red;*/
	background-color: #0C1019;
	padding: 25px 15px 10px 15px;
	border-radius: 8px;
}
.comment h2{
	margin:0;
}
.comment h1{
	margin:5px 0px;
	color:#1c6ab5;
}
.comment::after {
	width: 0;
    height: 0;
    content: "";
    border-top: 20px solid #0C1019;
    border-right: 50px solid transparent;
    position: absolute;
    bottom: 103px;
    right: 60px;
    z-index: 999;
}
.name{
	width: 32%
	margin: 0;
}
.name h2{
	margin: 25px 0 0px 0px;
}
.name p{
	padding: 4px 0px 30px;
	margin: 0;
}
.applications{
	/*border:1px solid red;*/
	width:32%;
	float: left;
	color:white;
	overflow: hidden;
}
.mobile{
	float: left;
	width: 49%;
}
.mobile img{
	width: 60%;
    float: left;
    margin: 0px 20px 0px 20px;
}
.mobile h2{
	font-family: sans-serif;
	float: left;
	margin: 1px 0px 2px 10px;
}
.soft{
	width: 49%;
    float: left;
}
.soft h2{
	font-family: sans-serif;
	font-size: 30px;
    font-weight: 400;
    margin: 0;
}
.soft img{
	float: left;
	width: 100%;
	margin-top: 20px;
}
/*section end*/